.m-feeds-sub {
  /* 覆盖全局的 vp-layout-max-width（仅当前页面使用） */


  .content-container,
  .content {
    max-width: 100% !important;
  }

  /* 确保FeedsSub组件的宽度一致 */
  .m-center {
    width: 120%;
  }

  .m-con {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}